.button-bar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto 10px auto auto auto 10px auto auto;
  column-gap: 3px;
  padding: 5px 10px;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(0, 0, 0);
}
.button-bar > button ,
.button-bar > select {
  font-size: 11px;
  font-family: sans-serif;
  border: 1px solid#bbb;
  background-color: #444;
  color: white;
  cursor: pointer;
  line-height: 14px;
  border-radius: 4px;
}

 

#printessin {
  position: absolute;
  top: 110px;
  left: 140px;
  width: 400px;
  height: 566px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
  border: 1px solid gray;
}

.token-warning {
  display: none; 
  border: 3px solid red;
  position: absolute;
  left: calc(50% - 190px);
  bottom: -3px;
  width: 380px;
 
  background-color: yellow;
  z-index: 9999999;
  font-family: sans-serif;
  padding: 5px;
}
.token-warning > h4 {
  margin: 0 0 2px 0;
}


#layoutSnippets {
  display: flex;
  flex-direction: column;
}

#layoutSnippetsWrapper {
  position: absolute;
  left: 10px;
  top: 110px;
  overflow: scroll;
  width: 120px;
  height: 600px;
  border: 1px solid black;
}

#propsdiv {
  position: absolute;
  left: 570px;
  top: 100px;
  display: flex;
  flex-direction: column;
  border: 4px grey solid;
  padding: 5px;
  width: 500px;
}

#propsdiv.no-selection {
  flex-wrap: wrap;
  flex-direction: row;
}

.snippet-cluster-name {
  width: 100%;
  padding: 10px;
  background-color: cadetblue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.page-buttons {
  position: absolute;
  left: 140px;
  top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
}

.page-buttons > div {
  height: 40px;
  border: 1px solid black;
  background: white;
  width: auto;
  cursor: pointer;
  padding: 2px;
  font-family: sans-serif;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.page-buttons > div:hover {
  background: #eee;
}

#json {
  position: absolute;
  left: 1150px;
  top: 100px;
  display: flex;
  flex-direction: column;

  width: 500px;
  font-family: monospace;
  font-size: 9pt;

}

label {
  width: 400px;
  font-family: sans-serif;
}

label>span {
  display: inline-block;
  min-width: 100px;
}

input[type='text'] {
  font-size: 16pt;
  padding: 3px;
}

#propsdiv>* {
  margin-bottom: 10px;
  ;
}

input[type='range'] {
  vertical-align: middle;
  margin-left: 10px;
}

.image-icon {
  width: 80px;
  height: 113px;
  border: 1px solid black;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
}

.image-list-warper {
  width: 100%;
  overflow: scroll;
}

.image-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: max-content;
  padding: 5px;
}

.image-list>* {
  width: 120px;
  height: 120px;
  margin: 5px;

  background-color: rgb(215, 232, 235);
  background-size: contain;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  border: 1px solid black;
}

.text-properties {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
 
