.button-bar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  column-gap: 10px;
  padding: 5px 10px;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(0, 0, 0);
}
.button-bar > button ,
.button-bar > select {
  font-size: 11px;
  font-family: sans-serif;
  border: 1px solid#bbb;
  background-color: #444;
  color: white;
  width: 120px;
  cursor: pointer;
  line-height: 14px;
}

#printess {
  position: absolute;
  top: 60px;
  left: 20px;
  width: calc(100vw - 40px);
  height: calc(100vh - 100px);
  border: 1px solid red;
}

.token-warning {
  display: none; 
  border: 3px solid red;
  position: absolute;
  left: calc(50% - 190px);
  bottom: -3px;
  width: 380px;
 
  background-color: yellow;
  z-index: 9999999;
  font-family: sans-serif;
  padding: 5px;
}
.token-warning > h4 {
  margin: 0 0 2px 0;
}
 